<div class="index-bg">
    <div class="index-bgLeft">
        <div class="index-bgRight">
            <table cellpadding="0" cellspacing="0" width="100%" style="padding-left: 15px; padding-top: 5px;">
                <tr>
                    <td align="center" width="70%">
                        <center id="info-stock">
                            <table width="100%" cellpadding="0" cellspacing="0" class="table-info-stock">
                                <tr>
                                    <td nowrap="nowrap">
                                        <div class="HA-index">
                                            <center id="info-stock">
                                                <table width="100%" cellpadding="0" cellspacing="0" class="table-info-stock">
                                                    <tr>
                                                        <td nowrap="nowrap">
                                                            <span class="stock-label">VN30 Index &nbsp;</span>
                                                            <span class="(*=data.indexStatus[6].clss*)" id="index-6">
                                                                <span id="index-2-6">(*=AV.numberFormat(data.indexes[6]?data.indexes[6][2]:'')*)</span>
                                                                <span id="index-emo-6">(*=data.indexStatus[6].emo*)</span>&nbsp;
                                                                <span id="index-3-6">(*=AV.numberFormat(data.indexes[6]?data.indexes[6][3]:'')*)</span>&nbsp;
                                                                <span id="index-4-6">(*=AV.numberFormat(data.indexes[6]?data.indexes[6][4]:'')*)</span>%&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <span class="stock-label">(*=Lang.totalVolumn*): </span>&nbsp;
                                                                <span id="index-6-6">(*=AV.numberFormat(data.indexes[6]?data.indexes[6][6]:'')*)</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="stock-label">(*=Lang.totalValue*): </span>&nbsp;
                                                                <span id="index-5-6">(*=AV.numberFormat(data.indexes[6]?data.indexes[6][5]:'')*)</span>&nbsp;(*=Lang.moneyUnit*)&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </span>
                                                            <span class="ss-up" style="padding-right:3px;">(*=AV.StockBoard.specialSymbols[0]*)</span>
                                                            <span id="index-8-6">(*=AV.numberFormat(AV.StockBoard.indexes[6][8])*)</span>
                                                            (<span id="index-11-6" class="ss-ceil">(*=AV.numberFormat(AV.StockBoard.indexes[6][11])*)</span>)
                                                            <span class="ss-basic" style="padding-right:3px;padding-left:10px;">(*=AV.StockBoard.specialSymbols[2]*)</span>
                                                            <span id="index-10-6">(*=AV.numberFormat(AV.StockBoard.indexes[6][10])*)</span>
                                                            <span class="ss-down" style="padding-right:3px;padding-left:10px;">(*=AV.StockBoard.specialSymbols[1]*)</span>
                                                            <span id="index-9-6">(*=AV.numberFormat(AV.StockBoard.indexes[6][9])*)</span>
                                                            (<span id="index-12-6" class="ss-floor">(*=AV.numberFormat(AV.StockBoard.indexes[6][12])*)</span>)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </center>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </td>
                    <td width="30%" rowspan="2">
                        <table width="100%" cellpadding=0 cellspacing=0>
                            <tr>
                                <td align="center" style="padding-top:5px;" width="100%"><div id="site-title">(*=Lang.HO_VN30_LIVE_STOCK_QUOTES_RAW*)</div></td>
                            </tr>
                            <tr>
                                <td align="center"><iframe src="time.html" frameborder="0" hspace="0" vspace="0" id="statusWindow" allowtransparency="true" style="background-color:transparent" height="25" width="280" scrolling="no"></iframe></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>