<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="Password" value="AGStock" />
    <add key="HOFilePath" value="D:\Bloomberg\sDPS\stock\stock\data\HO\" />
    <add key="HAFilePath" value="D:\Bloomberg\sDPS\stock\stock\data\HA\" />
    <add key="UPCOMFilePath" value="D:\Bloomberg\sDPS\stock\stock\data\UPCOM\" />
    <add key="HO_CNN_STR" value="Server=(local);Database=PriceOnline;UID=STOCK;PWD=sDPS@321" />
    <add key="HA_CNN_STR" value="Server=(local);Database=PriceOnline;UID=STOCK;PWD=sDPS@321" />
    <add key="UPCOM_CNN_STR" value="Server=(local);Database=PriceOnline;UID=STOCK;PWD=sDPS@321" />
    <add key="LSX_CNN_STR" value="Server=(local);Database=LXS_BROADCAST;UID=STOCK;PWD=sDPS@321" />
    <add key="GiaCK_CNN_STR" value="Server=(local);Database=GiaCK;UID=STOCK;PWD=sDPS@321" />
    <add key="SBFilePath" value="D:\AG\Logs\" />
    <add key="LogDirectory" value="D:\Logs\log" />
    <add key="EnableLog" value="true" />
    <add key="SiteSqlServer" value="Data Source=(local);Initial Catalog=PriceOnline;User ID=STOCK;Password=sDPS@321"/>
    <add key="SiteSqlServerPriceOnline_V2TS" value="Data Source=(local);Initial Catalog=GiaCK;User ID=STOCK;Password=sDPS@321"/>
    <add key="DatabaseOwner" value="dbo."/>
    <add key="ObjectQualifier" value="dnn_"/>
    <add key="Login" value="true"/>

    <add key="REDIS_CNN_STR" value="127.0.0.1:6379"/>
    <add key="REDIS_TTL" value="86400"/>
    
    <add key="CheckURL" value="HO.ashx"/>
    <add key="Timeout" value="1000"/>

    <add key="FilePath" value="E:\Dropbox\StockBoard\SourceCode\StockBoard\ChartData"/>
    <add key="ChartPath" value="E:\Dropbox\StockBoard\SourceCode\StockBoard\ChartData"/>
    <add key="DashboardPath" value="E:\Dropbox\StockBoard\SourceCode\StockBoard\ChartData"/>
    <add key="Width" value="250"/>
    <add key="Height" value="120"/>
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;"/>
  </appSettings>
  <system.webServer>
    <caching enabled="false" enableKernelCache="false" />
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <beitmemcached>
    <!-- Co the de dang server01.stockboard.local:12345,server02.stockboard.local:12345 -->
    <add key="StockBoardCache" value="localhost" />
  </beitmemcached>
</configuration>