<?xml version="1.0" encoding="utf-8"?>
<root>
  <companyInfo>
    <name>
      <vi>AlgoPlatform</vi>
      <en>AlgoPlatform</en>
    </name>
    <compayName>
      <vi>AlgoPlatform</vi>
      <en>AlgoPlatform</en>
    </compayName>
    <email>team@algoplatform.vn</email>
    <fax></fax>
    <telephone></telephone>
    <address>
      <vi></vi>
      <en></en>
    </address>
    <website>http://www.algoplatform.vn</website>
  </companyInfo>
  <fixedSelections>false</fixedSelections>
  <indexHightLightColor>#444</indexHightLightColor>
  <hightlightColor>#555</hightlightColor>
  <euroStyleVolumn>1</euroStyleVolumn>
  <volumnUnit>10</volumnUnit>
  <rubsePriceStyle>1</rubsePriceStyle>
  <colors>
    <ss-no>#FFFFFF</ss-no>
    <ss-ceil>#FF00FF</ss-ceil>
    <ss-floor>#66ccff</ss-floor>
    <ss-basic>#f7ff31</ss-basic>
    <ss-up>#00ff00</ss-up>
    <ss-down>#ff0000</ss-down>
    <ss-highlight>#000</ss-highlight>
    <other-ss-highlight>#555</other-ss-highlight>
    <other-ss-ceil>#DD00DD</other-ss-ceil>
    <other-ss-floor>#66CCFF</other-ss-floor>
    <other-ss-basic>#EEFB00</other-ss-basic>
    <other-ss-up>#32CD32</other-ss-up>
    <other-ss-down>#F70033</other-ss-down>
  </colors>
  <layout>Web</layout>
  <skin>Web</skin>
  <selectedSymbolFloat>0</selectedSymbolFloat>
  <absPrice>1</absPrice>
  <ATOColor>#FFF</ATOColor>
  <highlightwithStatus>,0,7,8,9,10,</highlightwithStatus>
  <volColor></volColor>
  <showPTTinBoard>true</showPTTinBoard>
  <pttScrollHeight>300</pttScrollHeight>
  <enableChart>1</enableChart>
  <useCategory>1</useCategory>
  <viewIndexes>1</viewIndexes>
  <symbolDraggable>1</symbolDraggable>
  <headerFloat>1</headerFloat>
  <Unit>
    <HO>1</HO>
    <HA>1</HA>
    <UPCOM>1</UPCOM>
  </Unit>
  <ListByVFPress>0</ListByVFPress>
  <ListByFloor>1</ListByFloor>
  <LockList>1</LockList>
</root>