<div class="selected-symbol-name">
	<div class="symbol-name (*=data.clsName*)">(*=data.symbol*)</div>
	<div class="symbol-emo (*=data.clsName*)">(*=data.emo*)</div>
	<div class="symbol-close" onClick="$AV('StockBoard.Favourite').remove('(*=data.symbol*)')">x</div>
</div>
<div style="clear:both"></div>
<div class="selected-symbol-price (*=data.clsName*)">
	<div class="symbol-ceil-price">(*=data.finishPrice*)</div>
	<div class="symbol-diff-price">(*=data.diff*) ((*=data.diffPercent*)%)</div>
</div>