
<div id="sub-menu"><ul class="submenu-opt">
    <!--
    <li><a target="_blank" href="HOSEPT.html">(*=Lang.HOSEPT_Board_Menu*)</a></li>
    <li><a target="_blank" href="HASEPT.html">(*=Lang.HNXPT_Board_Menu*)</a></li>
    -->
    <li><a target="_blank" href="ALL.html">(*=Lang.New_Stockboad*)</a></li>
                       <li><a target="_blank" href="HOSE.html">(*=Lang.New_Stockboad_HOSE*)</a></li>
                       <li><a target="_blank" href="VN30INDEX.html">(*=Lang.New_Stockboad_VN30*)</a></li>
                       <li><a target="_blank" href="HASE.html">(*=Lang.New_Stockboad_HNX*)</a></li>
                       <li><a target="_blank" href="HNX30INDEX.html">(*=Lang.New_Stockboad_HNX30*)</a></li>
                       <li><a target="_blank" href="UPCOM.html">(*=Lang.New_Stockboad_UPCOM*)</a></li>
    <!--<li><a target="_blank" href="DASHBOARD.html">(*=Lang.DASHBOARD*)</a></li>-->
    <li style="border-bottom:1px solid black;height:5px;line-height:5px">&nbsp;</li>
    <li><a target="_blank" href="HOSEPT.html">(*=Lang.HOSEPT_Board_Menu*)</a></li>
    <li><a target="_blank" href="HASEPT.html">(*=Lang.HNXPT_Board_Menu*)</a></li>
    <li style="border-bottom:1px solid black;height:5px;line-height:5px">&nbsp;</li>
    <li><a href="javascript:AV.dialog('StockBoard.Options');void(0);">(*=Lang.Options*)</a></li>
    <li><a href="javascript:Stock.resetSettings();">(*=Lang.Reset_settings*)</a></li>
	<li><a href="javascript:AV.dialog('StockBoard.Top');void(0);">(*=Lang.Statistic_information*)</a></li>
</ul>
(*
	$("ul.submenu-opt li:last-child").addClass('submenu-last');
    $("ul.submenu-opt li").hover(
        function(over) {
            $(this).addClass('submenu-hover');
        },
        function(out) {
            $(this).removeClass('submenu-hover');
        }
    );
*)