<table align="center" class="putThrough-bottomTable" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" style="padding:0 45px">
            <table width="100%" cellpadding="0" cellspacing="3" border="0" class="table-puthrought-one">
                <tr>
                    <td width="33%">
                        <div class="pt-wrap2" align="center"><p class="p-b-title">(*=Lang.offerBuy*)</p></div>
                        <div class="pt-wrap">
                            <div id="divhead-ptt0" style="width: 100%; overflow: hidden;">
                                <table id="head-ptt0" class="putThrough-topTable ptt-buy" cellpadding="0" cellspacing="0" bordercolor="#315131" border="0">
                                    <thead>
                                        <tr>
                                            <th>(*=Lang.symbolCode*)</th>
                                            <th>(*=Lang.price*)</th>
                                            <th>(*=Lang.volumn*)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="divbody-ptt0" style="width: 100%; overflow: hidden;">
                                <table id="ptt0" class="putThrough-topTable ptt-tran" cellpadding="0" cellspacing="0" bordercolor="#315131" border="0">
                                    <thead><tr></tr></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td width="33%">
                        <div class="pt-wrap2" align="center"><p class="p-t-title">(*=Lang.matchCommand*)</p></div>
                        <div class="pt-wrap">
                            <div id="divhead-ptt1" style="width: 100%; overflow: hidden;">
                                <table id="head-ptt1" class="putThrough-topTable ptt-tran" cellpadding="0" cellspacing="0" bordercolor="#315131" border="0">
                                    <thead>
                                        <tr>
                                            <th>(*=Lang.symbolCode*)</th>
                                            <th>(*=Lang.price*)</th>
                                            <th>(*=Lang.volumn*)</th>
                                            <th>(*=Lang.totalVol*)</th>
                                            <th>(*=Lang.totalVal*)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="divbody-ptt1" style="width: 100%; overflow: hidden;">
                                <table id="ptt1" class="putThrough-topTable ptt-tran" cellpadding="0" cellspacing="0" bordercolor="#315131" border="0">
                                    <thead><tr></tr></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td width="33%">
                        <div class="pt-wrap2" align="center"><p class="p-s-title">(*=Lang.offerSell*)</p></div>
                        <div class="pt-wrap">
                            <div id="divhead-ptt2" style="width: 100%; overflow: hidden;">
                                <table id="head-ptt2" class="putThrough-topTable ptt-sale" cellpadding="0" cellspacing="0" bordercolor="#315131" border="0">
                                    <thead>
                                        <tr>
                                            <th>(*=Lang.symbolCode*)</th>
                                            <th>(*=Lang.price*)</th>
                                            <th>(*=Lang.volumn*)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="divbody-ptt2" style="width: 100%; overflow: hidden;">
                                <table id="ptt2" class="putThrough-topTable ptt-tran" cellpadding="0" cellspacing="0" bordercolor="#315131" border="0">
                                    <thead><tr></tr></thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td valign="top"><a onclick="$AV('StockBoard.Transaction').close();" href="javascript:void(0);" style="font-size:20px;">x</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>