.ss-ceil {
    color: #FF00FF; /*rgb(198,62,150)*/
}

.ss-floor {
    color: #66ccff; /*rgb(109,207,246)*/
    /*-moz-opacity: 40%;
	-khtml-opacity: 40%;
    opacity: 40%;*/
}

.ss-basic {
    color: #f7ff31; /*rgb(238,232,9)*/
}

.ss-up {
    color: #00ff00; /*rgb(81,184,72)*/
}

.ss-down {
    color: #ff0000; /*rgb(237,27,52)*/
}
a.has-table{
    color:#FFF;
}
.chart__image img, .chart__image div {
    margin: 0 auto;
    width: 100%;
    height:155px;
}
